<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="329" MadCap:lastWidth="1155" class="SelectorSwitch" MadCap:conditions="General.GlobalLink,Media.NotTripane">
    <head><title></title>
        <link href="../Stylesheets/ScriptStyles.css" rel="stylesheet" type="text/css" />
        <link href="../Stylesheets/MainStyles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>3 Way switch template - <span class="box one">One</span><span class="box two">Two</span><span class="box three">Three</span></h1>
        <p>This explains how to ... enter the description here.</p>
        <MadCap:snippetBlock src="../Snippets/Switch/HowViewing.flsnp" />
        <div class="hr"> </div>
        <h2>More content</h2>
        <div class="box one">
            <p>Box one content - displayed when switch One is selected</p>
        </div>
        <div class="box two">
            <p>Box two content - displayed when switch Two is selected</p>
        </div>
        <div class="box three">
            <p>Box three content - displayed when switch Three is selected</p>
        </div>
        <p class="Note" MadCap:autonum="&lt;b&gt;&lt;span style=&quot;color: #69197d;&quot; class=&quot;mcFormatColor&quot;&gt;Note:&#160; &lt;/span&gt;&lt;/b&gt;">3 way switches are only set up for use with top navigation outputs.</p>
    </body>
</html>