<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="8" MadCap:lastHeight="129" MadCap:lastWidth="1103" class="" MadCap:conditions="General.GlobalLink">
    <head><title></title>
        <link href="../Stylesheets/MainStyles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Standard template</h1>
        <p>This is where your short introduction should go. </p>
        <p>Try to make it supplementary to the content (e.g. explain why the following applies), rather than a superfluous description of what the reader is about to see.</p>
    </body>
</html>